---
title: Accueil
menu: main
weight: 10
layout: default
---

<div class="row">

  <div class="col-sm-4">
    <div class="textBox">
      <p class="lead">Depuis plus de quinze ans, LézArts Humanitaire travaille au Niger, dans la zone sahélienne en partenariat avec Aourindé (ong nigérienne de Peuls bororos).</p>
      <p>Grâce à vos dons, nous avons pu créer écoles, équipements sanitaires, banques céréalières, coopératives artisanales, coopératives agricoles.</p>
      <p><a href="{{ site.baseurl }}/association/" class="btn btn-info btn-lg btn-block">
      Découvrez notre association
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a></p>
    </div>
  </div>

  <div class="col-sm-4">
    <figure class="thumbnail rot1">
      <a href="{{ site.baseurl }}/faire-un-don/"><img src="{{ site.baseurl }}/img/home/sourire.jpg" alt="Donner" class="img-responsive"></a>
      <div class="caption">
        <h3><a href="{{ site.baseurl }}/faire-un-don/"class="btn btn-success btn-lg btn-block">Faire un don
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         </a></h3>
      </div>
    </figure>
  </div>

  <div class="col-sm-4">
    <figure class="thumbnail rot2">
      <a href="{{ site.baseurl }}/projets/"><img src="{{ site.baseurl }}/img/home/equipes.jpg" alt="Nos projets" class="img-responsive"></a>
      <div class="caption">
      <h3><a href="{{ site.baseurl }}/projets/"class="btn btn-primary btn-lg btn-block">Découvrez nos projets
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       </a></h3>
      </div>
    </figure>
  </div>

</div>

<div class="row">
  <div class="col-xs-4">
    <div class="textBox">
      {% include newsletter/subscribe-form.html %}
    </div>
  </div>

  <div class="col-sm-8">
    <div class="textBox">
      <h2 class="page-header"><a href="{{ site.baseurl }}/actualite/">Actualité</a></h2>
      <ul class="list-unstyled">
      {% for post in site.posts limit: 4 %}
      <li><a href="{{ site.baseurl}}{{ post.url }}">
      {% include post-date.html post=post style="short" %} - {{ post.title }}
      </a></li>
      {% endfor %}
      </ul>
      <div class="moreButton"><a href="{{ site.baseurl }}/actualite/">voir toute l'Actualité</a></div>
    </div>
  </div>
{% comment %}
  <div class="col-sm-4">
    <figure class="thumbnail rot0">
      <a href="{{ site.baseurl }}/boutique/"><img src="{{ site.baseurl }}/img/home/equipe.jpg" alt="Boutique" class="img-responsive"></a>
      <div class="caption">
      <h3><a href="{{ site.baseurl }}/boutique/"class="btn btn-danger btn-lg btn-block">Boutique
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a></h3>
      </div>
    </figure>
  </div>
{% endcomment %}

</div>
