{% comment %}
This code is crap ! Need a good refactor.

{% endcomment %}

{% assign objectType = include.objectType %}

{% if objectType == "pages" %}
  {% comment %}
  Assign things here
  {% endcomment %}
{% elsif objectType == "collection" %}
  {% assign collectionName = include.collectionName %}
{% endif %}

{% comment %} +++++ Verifies that 'objectType' is a valid type +++++ {% endcomment %}
{% comment %} +++++ Get available content types from config +++++ {% endcomment %}
{% assign types = site.admin.content-types %}

{% comment %}Create an empty array{% endcomment %}
{% assign allowedTypes = "" | split: "/" %}
{% for type in types %}{% assign allowedTypes = allowedTypes | push: type[0] %}{% endfor %}

{% unless allowedTypes contains objectType %}
<div class="alert alert-warning"><p>
<strong>Include error : </strong> Please pass an "objectType" argument to "_includes/utils/admin-table.html".
Wrong argument passed to "_includes/utils/admin-table.html".<br>
Passed : {{ objectType | inspect }}<br>
Allowed : {{ types | join: " - " }}</p>
</div>
{% endunless %}

{% comment %} +++++ Get config for current object type +++++ {% endcomment %}
{% assign typeConfig = site.admin.content-types[objectType] %}

{% comment %}Get config for non displayable props in listings{% endcomment %}
{% assign noDisplayProps = typeConfig.noDisplayProps %}

{% comment %}Get config for displayable props in listings{% endcomment %}
{% assign displayProps = typeConfig.displayProps %}

{% if typeConfig.sort == nil %}
{% assign sortKey = 'title' %}
{% else %}
{% assign sortKey = typeConfig.sort %}
{% endif %}

{% if  objectType == "pages" %}
  {% assign documents = site.pages | sort: sortKey%}
{% elsif objectType == "historique" %}
  {% assign documents = site.historique | sort: "title" %}
{% elsif objectType == "posts" %}
  {% assign documents = site.posts %}
{% endif %}

<h3>{{ objectType | capitalize }} (count = {{ documents.size }})</h3>

<h1>displayProps = {{ displayProps | inspect }}</h1>
<h1>noDisplayProps = {{ noDisplayProps | inspect }}</h1>

{% if displayProps %}
  <h1>We have displayProps</h1>
  <table class="table table-bordered">
  <thead><tr>
  {% for prop in displayProps %}<th>{{ prop }}</th>{% endfor %}
  </tr></thead>
  <tbody>
    {% for doc in documents %}
    <tr>
      {% for prop in displayProps %}<td>{{ doc[prop] }}</td>{% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  </table>

{% elsif noDisplayProps %}

  <h1>We have noDisplayProps</h1>

  {% assign doc = documents | first %}

  <table class="table table-bordered">
  <thead><tr>
  {% for prop in doc %}
    {% if noDisplayProps contains prop %}
      {% comment %} Do nothing {% endcomment %}
    {% else %}
      <th>{{ prop }}</th>
    {% endif %}
  {% endfor %}
  </tr></thead>

  <tbody>
    {% for doc in documents %}
    <tr>
      {% for prop in doc %}
        {% if noDisplayProps contains prop %}
          {% comment %} Do nothing {% endcomment %}
        {% else %}
          <td>{{ doc[prop] }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

{% comment %}  {% endcomment %}

  </table>

{% else %}
  <h1>PRINT ALL</h1>
{% endif %}

