{% assign post = include.post %}
{% assign firstPicture = post.images.first %}
{% assign postYear = post.date | date: "%Y" %}

  <div class="col-sm-4">
    <div class="textBox">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      {% include post-authors.html post=post %}
      {% include post-date.html post=post %}
      {% include post-categories.html post=post %}
      {% if post.content contains site.excerpt_separator %}
        {{ post.excerpt }}
      {% else %}
        {{ post.content | strip_html | truncate: 100 }}
      {% endif %}
      {% include utils/read-more.html %}
    </div>
  </div>

