{% comment %}--------------- returns post authors formated as a string {% endcomment %}
{% assign post = include.post %}
{% assign authorsArray = "" | split: "/" %}
{% for author in post.authors %}
  {% assign authorDatas = site.authors | where: "id", author | first %}
  {% if authorDatas != nill %}
    {% capture authorString %}{{ authorDatas.prenom }} {{ authorDatas.nom }} - {{ authorDatas.fonction }}{% endcapture %}
    {% assign authorsArray = authorsArray | push: authorString %}
  {% else %} {% comment %} Nothing happen here {% endcomment %}
  {% endif %}
{% endfor %}
{% if authorsArray.size > 0 %}{% assign authorsOutput = authorsArray | join: ", " | prepend: "par " %}
<p class="postAuthors">{{ authorsOutput }}</p>{% endif %}
