---
title: l'Association
menu: main
weight: 20
---

<div class="row">

  <div class="col-sm-4">
    <figure class="thumbnail rot0">
      <img src="{{ site.baseurl }}/img/association/groupe2.jpg" alt="Association" class="img-responsive"></a>
      <div class="caption">
      <h3>Une partie de nos bénévoles au Niger</h3>
      </div>
    </figure>
  </div>

  <div class="col-sm-8">
    <p>ONG LézArts humanitaire est une organisation non-gouvernementale laïque, dont l'objectif est de favoriser et mettre en œuvre des projets à caractère social, économique et culturel.</p>
    <p>Depuis plusieurs années, l’ONG travaille au Niger, dans la zone sahélienne en
    partenariat avec Aournide (ong nigérienne de Peuls bororos).</p>
    <p>Grâce à vos dons, nous avons pu créer écoles, équipements sanitaires, banques céréalières, coopératives artisanales, coopératives agricoles...</p>
  </div>

</div>

<div class="row timeline">

  <h2>Historique</h2>
  {% assign sortedHistory = site.history | sort: "year" %}
  {% for item in sortedHistory %}
    {% assign remain = forloop.index | modulo: 2 %}
    {% if remain == 0 %}
      {% assign rowClass = "success" %}
    {% else %}
      {% assign rowClass = "info" %}
    {% endif %}
    <div class="yearRow clearfix alert alert-{{ rowClass }}">
      <div class="col-sm-2 col-sm-offset-2 year">
        <div class="">
          <h3 class="">{{ item.year }}</h3>
        </div>
      </div>
      <div class="col-sm-6 yearContent">
        {{ item.content }}
      </div>
    </div>
  {% endfor %}

</div>

