---
title: Blog
menu: main
weight: 42
---

{% assign firstPost = site.posts.first %}
{% assign firstPicture = firstPost.images.first %}

<div class="row">
  <div class="col-sm-3 col-sm-offset-1">
    <figure class="thumbnail rot1">
      <img src="{{ site.baseurl }}/img/blog/{{ firstPicture }}.jpg" alt="{{ firstPost.title }}" class="img-responsive">
    </figure>
  </div>
  <div class="col-sm-7">
    <h2><a href="{{ site.baseurl }}{{ firstPost.url }}">{{ firstPost.title }}</a></h2>

    {% include post-authors.html post=firstPost %}
    {% include post-date.html post=firstPost %}

    {% if firstPost.content contains site.excerpt_separator %}
      {{ firstPost.excerpt }}
    {% else %}
      {{ firstPost.content | truncate: 100 }}
    {% endif %}
  </div>
</div>

<div class="row">

  <div class="col-sm-offset-1 col-sm-6">

  </div>
  <div class="col-sm-3">
  </div>
</div>

<ul>
{% for post in site.posts offset: 1 %}
<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
