---
title: Boutique
# menu: main
weight: 40
---

<div class="row">
  <div class="col-xs-12">
    <p class="alert alert-success">Si vous souhaitez commander sur notre site, vous pouvez télécharger le bon de commande en cliquant ici : <a href="{{ site.baseurl }}/documents/bon-de-comande-lezarts-humanitaire-2016.pdf">Bon de commande</a>.</p>
  </div>
</div>

{% assign items = site.boutique %}
{% for item in items %}
<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <h3>{{ item.title }}</h3>
    <p>prix : {{ item.prix }}</p>
    {{ item.content }}
  </div>
  <div class="col-sm-4">
    {% if item.images %}
      {% assign i = item.images | first %}
      <figure class="thumbnail">
        <img src="{{ site.baseurl }}/img/boutique/{{ i }}.jpg" alt="{{ item.title }}" class="img-responsive">
        <div class="caption">
        <h3></h3>
        </div>
      </figure>
    {% endif %}
    {% if item.video %}

    <div class="embed-responsive embed-responsive-16by9">
      <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/{{ item.video }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
