---
layout: default
---
{% assign pageYear = page.date | date: "%Y" %}
<div class="row">

  <div class="col-sm-4">

  {% if page.images %}
    {% for i in page.images %}
      {% assign magicNumber = site.rotation-classes.size  %}
      {% assign remain = forloop.index0 | modulo: magicNumber %}
      {% assign figureClass = site.rotation-classes[remain] %}
      <div class="col-sm-12">
        <figure class="thumbnail {{ figureClass }}">
          <img src="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ i }}.jpg" alt="{{ page.title }}" class="img-responsive">
        </figure>
      </div>
    {% endfor %}
  {% else %}
      <div class="col-sm-12">
        <figure class="thumbnail rot1">
          <img src="{{ site.baseurl }}/img/logo-lezarts-humanitaire-2010.jpg" alt="Logo LéZarts Humanitaire" class="img-responsive">
        </figure>
      </div>
  {% endif %}

    {% for category in page.categories %}
      {% assign categoryArticles = site.categories[category] %}
      {% assign selectedPosts = "" | split: "/" %}
      {% for article in categoryArticles limit: 6 %}
        {% if article.url != page.url %}
          {% assign selectedPosts = selectedPosts | push: article %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    {% if selectedPosts.size > 0 %}
      {% for category in page.categories %}
      <div class="col-sm-12">
        <h4>Articles dans la catégorie : {{ category }}</h4>
        {% assign categoryArticles = site.categories[category] %}
        <ul>
        {% for article in categoryArticles limit: 6 %}
          {% if article.url != page.url %}
          <li><a href="{{ site.baseurl }}/{{ article.url }}">{{ article.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    {% endif %}

  </div>

  <div class="col-sm-8">
    <h1 class="page-header">
      <a href="{{ site.baseurl }}/actualite/">Actualité</a>
       &gt;
      {{ page.title | camelize }}
    </h1>
    {% include post-authors.html post=page %}
    {% include post-date.html post=page %}
    {% include post-categories.html post=page %}
    {{ content }}
    {% if page.documents %}
      {% for doc in page.documents %}
      <div class="col-sm-12"><figure class="thumbnail">
        <a href="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ doc }}.jpg">
          <img src="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ doc }}.jpg" alt="{{ page.title }}" class="img-responsive">
        </a>
      </figure></div>
      {% endfor %}
    {% endif %}
  </div>

</div>
