---
layout: default
---
<div class="row">

  {% if page.images %}
  <div class="col-sm-4">
  {% for i in page.images %}

  {% assign magicNumber = i.size  %}
  {% assign remain = magicNumber | modulo: 5 %}
{% comment %}
<h1>magicNumber = {{ magicNumber }} - remain = {{ remain | inspect }}</h1>
{% endcomment %}

  {% assign pageYear = page.date | date: "%Y" %}
  <div class="col-sm-12">
    <figure class="thumbnail rot{{ remain }}">
      <img src="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ i }}.jpg" alt="{{ page.title }}" class="img-responsive">
    </figure>
  </div>
  {% endfor %}
  </div>
  {% endif %}


  <div class="col-sm-8">
    <h1 class="page-header">
      <a href="{{ site.baseurl }}/actualite/">Actualité</a>
       &gt;
      {{ page.title | camelize }}
    </h1>
    {% include post-authors.html post=page %}
    {% include post-date.html post=page %}
    {% include post-categories.html post=page %}
    {{ content }}
  </div>

{% if page.docs %}
  {% for doc in page.docs %}
  <div class="col-sm-8">
    <a href="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ doc }}.jpg">
      <img src="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ doc }}.jpg" alt="{{ page.title }}" class="img-responsive">
    </a>
  </div>
  {% endfor %}
{% endif %}

</div>
