---
layout: default
---
<div class="row">

  <div class="col-sm-4">

{% for i in page.images %}

{% assign pageYear = page.date | date: "%Y" %}

<div class="col-sm-12">
  <figure class="thumbnail rot1">
    <img src="{{ site.baseurl }}/img/actualite/{{ pageYear }}/{{ i }}.jpg" alt="{{ page.title }}" class="img-responsive">
  </figure>
</div>

{% endfor %}

  </div>

  <div class="col-sm-8">
    <h2 class="page-header">{{ page.title }}</h2>
    {% include post-authors.html post=page %}
    {% include post-date.html post=page %}
    {% include post-categories.html post=page %}
    {{ content }}
  </div>
</div>


